<div class="row-fluid blueContainer" id="homeView" ng-controller="HomeCtrl">

    <div class="row">  
        <div class="col-sm-12">

            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">

                        <ui-select allow-clear="true"
                                   ng-model="cities.selected" 
                                   on-select="onSelected($item)" 
                                   theme="bootstrap">
                            <ui-select-match placeholder="Select or type the city...">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="city in cities | filter: $select.search">
                                <span ng-bind-html="city.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>

                        <span class="input-group-btn">
                            <button type="button" ng-click="clearSelection()" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div class="row">  
        <div class="col-sm-12">
            
            <div class="row">  
                <div class="col-sm-6">
                    <img class="main-logo" src="images/sunrise.png" alt=""/>
                </div>
                
                <div class="col-sm-6">
                    {{sunrise}}
                </div>
            </div>
            
            <div class="row">  
                <div class="col-sm-6">
                    <img class="main-logo" src="images/sunset.png" alt=""/>
                </div>
                
                <div class="col-sm-6">
                    {{sunset}}
                </div>
            </div            
        </div>
    </div>
</div>